In [2]:
import numpy as np
import os
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd

# P1 data
data1_path = '../Datasets/TaxiBJ/TAXIBJ2013.grid'
# P2 data
data2_path = '../Datasets/TaxiBJ/TAXIBJ2014.grid'
# P3 data
data3_path = '../Datasets/TaxiBJ/TAXIBJ2015.grid'
# P4 data
data4_path = '../Datasets/TaxiBJ/TAXIBJ2016.grid'

# load P1 data
xdata1 = pd.read_csv(data1_path)
xdata1.head()
# load P2 data
xdata2 = pd.read_csv(data2_path)
xdata2.head()
# load P3 data
xdata3 = pd.read_csv(data3_path)
xdata3.head()
# load P4 data
xdata4 = pd.read_csv(data4_path)
xdata4.head()

   dyna_id   type                  time  row_id  column_id  inflow  outflow
0        0  state  2015-11-02T00:00:00Z       0          0     0.0      0.0
1        1  state  2015-11-02T00:30:00Z       0          0     0.0      0.0
2        2  state  2015-11-02T01:00:00Z       0          0     0.0      0.0
3        3  state  2015-11-02T01:30:00Z       0          0     0.0      0.0
4        4  state  2015-11-02T02:00:00Z       0          0     0.0      0.0

In [7]:
#xdata1 = xdata1.drop(columns=['dyna_id', 'type'])
xdata1_gb = xdata1.groupby('time')#.apply(print)
xdata2_gb = xdata2.groupby('time')
xdata3_gb = xdata3.groupby('time')#.apply(print)
xdata4_gb = xdata4.groupby('time')

# number of groups
xdata1_gb.ngroups
xdata2_gb.ngroups
xdata3_gb.ngroups
xdata4_gb.ngroups

# convert to list
xdata1_gb = list(xdata1_gb)
xdata1_gb[0]
xdata2_gb = list(xdata2_gb)
#xdata2_gb[0]
xdata3_gb = list(xdata3_gb)
#xdata3_gb[0]
xdata4_gb = list(xdata4_gb)
#xdata4_gb[0]
# remove first group since it is not right
xdata1_gb = xdata1_gb[1:]

4849

4368

5520

6624

('\t1',
          dyna_id   type time  row_id  column_id  inflow  outflow
 4964268  4964268  state  \t1      31        1.0     3.0      NaN)

In [8]:
# nth data (nth, 2, 32, 32)
n = 0
# xdata1_gb[n][0] is the specific 30 minute interval time
data = xdata1_gb[n][1] # the associated dataframe
data_inflow = data.pivot_table(values='inflow', index='row_id', columns='column_id').to_numpy()
data_outflow = data.pivot_table(values='outflow', index='row_id', columns='column_id').to_numpy()

data_inflow
data_outflow

array([[  0.,  20.,  41., ...,   7.,   1.,  40.],
       [  0.,  11.,   8., ...,  22.,   7.,  96.],
       [  0.,   9.,   5., ...,  14., 198., 117.],
       ...,
       [  1.,   3.,   4., ...,   8.,   6.,   3.],
       [  0.,   0.,   0., ...,   9.,   0.,   7.],
       [  1.,   0.,   0., ...,  17.,  20.,   7.]])

array([[  0.,  21.,  44., ...,   6.,   1.,  38.],
       [  0.,  11.,   8., ...,  23.,   6.,  93.],
       [  0.,   9.,   5., ...,  15., 201., 120.],
       ...,
       [  2.,   3.,   4., ...,   7.,   7.,   3.],
       [  0.,   0.,   0., ...,   9.,   0.,   7.],
       [  1.,   0.,   0., ...,  19.,  21.,   8.]])

In [9]:
# a single array containing nth data (nth, 2, 32, 32)
data_output = np.array([[data_inflow, data_outflow]])
data_output.shape

(1, 2, 32, 32)

In [10]:
# convert data to numpy array and save as file
for j in range(1,5):
    size = len(eval(f'xdata{j}_gb'))
    entire_data = np.empty([size, 2, 32, 32])
    for i in range(size):
        data = eval(f'xdata{j}_gb[i][1]')
        data_inflow = data.pivot_table(values='inflow', index='row_id', columns='column_id').to_numpy()
        data_outflow = data.pivot_table(values='outflow', index='row_id', columns='column_id').to_numpy()
        entire_data[i, 0] = data_inflow
        entire_data[i, 1] = data_outflow
    np.save(f'../Datasets/TaxiBJ{2012+j}', entire_data)

In [11]:
# split TaxiBJ2016 in half since file exceeds 100MB
data = np.load('../Datasets/TaxiBJ2016.npy')
half = int(len(data)/2)
data1 = data[0:half]
data2 = data[half:]
np.save(f'../Datasets/TaxiBJ2016_1', data1)
np.save(f'../Datasets/TaxiBJ2016_2', data2)

In [13]:
data3 = np.concatenate((data1, data2))
data3.shape

(6624, 2, 32, 32)